POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
GEMINI_API_KEY=
JWT_SECRET=

#SMTP Configuration
MAIL_USERNAME=
MAIL_PASSWORD=

# OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=